.content {
  display: flex;
  align-items: stretch;
  gap: 20px;
}

.form-wrap {
  padding: 20px;
  border: 1px solid #eee;
}

.form-wrap label {
  display: block;
  margin-bottom: 15px;
}

.value-wrap {
  margin-top: 20px;
  border: 1px solid #eee;
}